[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
requests = "*"
markdown = "*"
logging-json = "*"
flask-restful = "*"
pytest = "*"
coverage = "*"

[dev-packages]

[requires]
python_version = "3.11"
